# Dépendances
node_modules/
.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions
jspm_packages/
bower_components/
web_modules/

# Fichiers de build et production
/build
/.next/
/out/
/dist
.nuxt
.cache/
.parcel-cache
.vitepress/dist
.vitepress/cache
.vuepress/dist
.temp
.docusaurus

# Caches et logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*
.eslintcache
.stylelintcache
.rpt2_cache/
.rts2_cache_cjs/
.rts2_cache_es/
.rts2_cache_umd/
.yarn-integrity
.node_repl_history
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz

# Test & couverture de code
/coverage
.nyc_output
*.lcov

# Fichiers de configuration & environnement sensibles
.env*
.env.development.local
.env.test.local
.env.production.local
.env.local

# Divers
.DS_Store
*.pem
*.tgz
.pids
*.pid
*.seed
*.pid.lock
.next-env.d.ts
.vscode-test
.vercel
.serverless/
.fusebox/
.dynamodb/
.tern-port

# TypeScript
*.tsbuildinfo

# Sortie de 'npm pack'
*.tgz

# Configuration spécifique
.lock-wscript
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
